.Flippable-card-container {
    /* Sizing */

    min-height: 320px;
    min-width: 200px;

    width: 11.5vw;
    height: 35vh;

    margin: 2vw;

    border-radius: 16px;

    border: 2px solid #0ef;
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef, 0 0 20px #ffffff;

    perspective: 1000px;

    transition: all 0.5s;
}

.Flippable-card-container:nth-of-type(2n) {
    border: 2px solid #fabc16;
    box-shadow: 0 0 20px #c47112, inset 0 0 20px #fabc16, 0 0 20px #ffffff;
}

.Flippable-card-container:nth-of-type(3n) {
    border: 2px solid #f70b0fbd;
    box-shadow: 0 0 20px #ef0e1282, inset 0 0 20px #f70b0fbd, 0 0 20px #ffffff;
}

.Flippable-card-container:nth-of-type(4n) {
    border: 2px solid #93DA49;
    box-shadow: 0 0 20px #334d18, inset 0 0 20px #93DA49, 0 0 20px #ffffff;
}

.Flippable-card-container:hover {
    transform: translateY(-0.50em);
    cursor: pointer;
}