.Flippable-card-container {
    /* Sizing */

    min-height: 320px;
    min-width: 200px;

    width: 11.5vw;
    height: 35vh;

    margin: 2vw;

    border-radius: 16px;

    box-shadow: 0 0 10px #24b6e344, 0 0 10px #69cae86e, 0 0 20px #1bb8d0;

    perspective: 1000px;
}

.Flippable-card-container:nth-of-type(2n) {
    box-shadow: 0 0 5px #c47112, 0 0 10px #fabc16, 0 0 20px #ffffff;
}

.Flippable-card-container:nth-of-type(3n) {
    box-shadow: 0 0 5px #580b0c44, 0 0 10px #f70b0fbd, 0 0 20px #ffffff;
}

.Flippable-card-container:nth-of-type(4n) {
    box-shadow: 0 0 5px #334d18, 0 0 10px #93DA49, 0 0 20px #ffffff;
}